@import url(https://fonts.googleapis.com/css?family=Lato:300italic);

@media only screen and (max-width: 1920px) {
    header {
        font-size: 18px;
        background-color: #1b1e44;
        width: 100%;
        text-align: center;
    }

    header > img {
        width: auto;
        height: 87px;
    }

    footer {
        /* position: fixed; */
        background-color: #1b1e44;
        width: 100%;
        text-align: center;
        color: gray;
        height: auto;
        font-weight: bold;
        margin: 0;
        /* bottom: 0; */
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

html,body {
    font-family: 'Pacifico';
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

div {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    color: #333;
}

h2 {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.4s;
    text-decoration: none;
    font-family: 'Pacifico';
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

p {
    margin-top: 10px;
}

p#alertMessage, p#checkNgaySinhAlertMessage, p#checkHoTenAlertMessage {
    color: red;
    display: none;
}

.center {
    text-align: center;
}

.imgcenter {
    display: block;
    max-width: 320px;
    margin: 0 auto;
}

.displayimg {
    border-radius: 15px;
}

div#noidung {
    height: 798px;
}

div#home {
    padding-top: 310px;
    padding-left: 15px;
    padding-right: 15px;
}

div#question1 {
    display: none;
    font-size: 20px;
    padding: 15px;
}

div#question1 > img {
    display: none;
}

div#question2 {
    display: none;
    font-size: 20px;
    padding: 15px;
}

div#question3 {
    display: none;
    font-size: 20px;
    padding: 15px;
}

div#question4 {
    display: none;
    font-size: 20px;
    padding: 15px;
}

div#loadingAnimation {
    display: none;
    padding: 15px;
    margin-top: 180px;
}

div#confirm {
    display: none;
    font-size: 20px;
    padding: 15px;
}

div#confirm > h1 {
    color: red;
}

div#chaychu {
    display: none;
    font-family: 'Pacifico';
    font-size: 25px;
    padding-top: 330px;
    padding-left: 15px;
    padding-right: 15px;
}

div#chaychu2 {
    display: none;
    font-family: 'Pacifico';
    font-size: 25px;
    padding-top: 330px;
    padding-left: 15px;
    padding-right: 15px;
}

div#chaychu3 {
    display: none;
    font-family: 'Pacifico';
    font-size: 25px;
    padding-top: 330px;
    padding-left: 15px;
    padding-right: 15px;
}

div#hienhinhanh {
    display: none;
    padding-top: 180px;
    padding-left: 15px;
    padding-right: 15px;
}

div#chaychu4 {
    display: none;
    font-family: 'Pacifico';
    font-size: 25px;
    padding-top: 330px;
    padding-left: 15px;
    padding-right: 15px;
}

div#chaychu5 {
    display: none;
    font-family: 'Pacifico';
    font-size: 25px;
    padding-top: 330px;
    padding-left: 15px;
    padding-right: 15px;
}

div#banhkem {
    display: none;
    padding-top: 180px;
    padding-left: 15px;
    padding-right: 15px;
}

button#batdau {
    display: block;
    margin: 0 auto;
}

button#tieptuc5 {
    display: block;
    margin: 0 auto;
}

.opacity {
    opacity: 0.1;
}

p.opacity {
    font-size: 10px;
    margin: 0;
}

h1#reminder {
    margin-bottom: 0;
}

input[type="text"]:focus {
    background-color: #f4f4f4; /* Màu nền khi input được focus */
    color: #333; /* Màu chữ khi input được focus */
}

input[type="text"]:hover {
    background-color: #f9f9f9; /* Màu nền khi di chuột qua input */
}

input[type="text"]:hover {
    cursor: pointer; /* Đổi kiểu con trỏ thành pointer khi hover vào input */
}

input[type="text"] {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng cho input */
    font-family: Pacifico;
    font-size: 20px;
}

input[type="radio"] {
    transform: scale(1.5); /* Phóng to kích thước của nút radio */
    margin-bottom: 10px;
}

input[type="radio"]:checked {
    background-color: #007bff; /* Màu nền khi được chọn */
}

.loading-animation {
    border: 8px solid rgba(255, 255, 255, 0.3); /* Màu và độ rộng của vòng tròn */
    border-top: 8px solid #007bff; /* Màu và độ rộng của vòng tròn khi quay */
    border-radius: 50%; /* Để tạo hình dạng vòng tròn */
    width: 50px; /* Kích thước vòng tròn */
    height: 50px; /* Kích thước vòng tròn */
    animation: spin 1s linear infinite; /* Tạo hiệu ứng quay */
    margin: 0 auto; /* Căn giữa vòng tròn */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.smooth-display {
    opacity: 0;
    animation: fadeInOut 4s forwards;
}
  
@keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}